<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>592143760637-rufhh596bsfat5vtih6psbhr463pk7ts.apps.googleusercontent.com</string>
            </array>
        </dict>
    </array>
	<key>NSCameraUsageDescription</key>
	<string>We need camera to add photos</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>App needs access to local network to connect to backend server</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>app-analytics-services.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
			</dict>
			<key>google.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
			</dict>
		</dict>
	</dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.592143760637-rufhh596bsfat5vtih6psbhr463pk7ts</string>
        </array>
      </dict>
    </array>

    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>google</string>
      <string>com.googleusercontent.apps.592143760637-rufhh596bsfat5vtih6psbhr463pk7ts</string>
    </array>

</dict>
</plist>
